.logo_navigation {
    margin-top: 20px;
    width: 1400px;
    height: 78px;
    display: inline-block;
}

body {
    background-color: #FFFFFF;
}

.logo_container {
    width: 1400px; 
    height: 78px;
    display: inline-block;
    color: #173A56;
}

.links {
    display: inline-block;
    text-align: right;
}

li {
    display: inline-block; 
}
.list {
    display: inline-block;
}

button {
    display: inline-block;
}

.sign_up {
    display: inline-block;
    background-color: #FF9900;
    width: 110px;
    height: 46px;
    text-align: center;
}
.sign_in {
    display: inline-block;
    background-color: #FFFFFF;
    width: 102px;
    height: 46px;
    text-align: center;
}