body {
    background-color: #FFFFFF;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.logo_navigation {
    width: 1400px;
    height: 78px;
    display: inline-block;
    margin-bottom: 20px;
}

.logo_img {
    display: inline-block;
    margin-left: 144px;
    width: 185px;
    height: 32px;
    padding-top: 30px;
}

.links {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
}

li {
    display: inline-block; 
    padding-right: 35px;
}

.list {
    display: inline-block;
    padding-left: 320px;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

button {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 17px;
}

#sign_up {
    display: inline-block;
    background-color: #FF9900;
    width: 110px;
    height: 46px;
    text-align: center;
    border-style: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5px;
    border-radius: 5px;
    color: #FFFFFF;
}

#sign_in {
    display: inline-block;
    background-color: #FFFFFF;
    width: 102px;
    height: 46px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5px;
    border-radius: 5px;
    border-style: solid 2px;
    color: #173A56;
    border-color: lightgrey;
    margin-right: 14px;
    margin-left: 29px;
}

.img {
    display: inline-block;
}

.text {
    display: inline-block;
    padding-left: 200px;
    width: 400px;
    height: 300px;
    padding-right: 70px;
}

.content_title {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    padding-top: 113px;
    color: #2F281E;
}

.content_text {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #544837;
}

#content_button {
    display: inline-block;
    width: 173px;
    height: 53px;
    background-color: #FF9900;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-style: none;
}

#content_button_video {
    display: inline-block;
    width: 161px;
    height: 23px;
    margin-bottom: 207px;
    margin-top: 30px;
    border-style: none;
    background-color: #FFFFFF;
    color: #FF9900;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.buttons {
    display: inline-block;
    height: 53px;
    width: 366px;
    padding-left: 0px;
    margin-bottom: 192px;
    margin-top: 10px;
    margin-right: 80px;
}

a:link {
    text-decoration: none;
    color: #2F281E; 
}
a:visited {
    color: black;
}

a:hover {
    color: #FF9900;
}

a:active {
    color: black; 
}

.top {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 54px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #2F281E;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 48px;
    margin-bottom: 34px;
    margin-left: 300px;
}

.grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4 {
    background-color: #FFFFFF;
    color: #544837;
    font-family: Poppins;
    font-size: smaller;
    font-weight: lighter;
}

.first_click {
    background-color: #7752BE;
    color: #FFFFFF;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
    font-family: Poppins;
}

.design_surv {
    background-color: #FAB005;
    color: #FFFFFF;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
    font-family: Poppins;
}

.pref_test {
    background-color: #F03E3D;
    color: #FFFFFF;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
    font-family: Poppins;
}

.sec_test {
    background-color: #4DADF7;
    color: #FFFFFF;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
}
#sign-up {
    display: block;
    width: 173px;
    height: 53px;
    background-color: #FF9900;
    border-radius: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-style: none;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}
span {
    font-weight: 600;
    font-size: 20px;
}